@use '../globals.scss';
$greyDark: #424242;
.header-container {
    width: 100%;
    margin: 15px auto 0;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1400px;
.heading-nav {
    width: 50%;
    justify-content: space-between;
    text-transform: uppercase;
    color: $greyDark;
    @extend h4

}
}