@use '../globals.scss';

.heading-container {
  @extend .flex;
  justify-content: space-between;
  align-items: center;
  margin: 7.25rem auto;
  padding:0 20px;
  max-width: 1400px;
  width: 100%;

}
.background-headingBox {
  background: url('/assets/heading-bg.svg');
  background-repeat: no-repeat;
  background-position: left;
  left: 0;
  background-size: contain;
  position: absolute;
  z-index: -1;
  
  width: 100%;
  height: 90dvh;
}

.heading-text {
  max-width: 400px;
  margin-right: 40px;
}


.heading-image-text-box {
  @extend .flex;
  width: 100%;
  right:4.5em;
  position: absolute;
  // top: 50px;
  justify-content: flex-end;
  align-items: center;
}
.member-highlight {
  position: absolute;
  right: 0;
  width: auto;
  max-height: 550px; /* or whatever you need */
  img {
    max-height: 550px;
    max-width: 800px;
    width: auto;
    
  }
}

.heading-image-name {
  @extend h4;
  margin-right: 20px;
  
}
.heading-image-location {
  @extend .subHead;
}

@media (max-width: 1200px) {
    .heading-container{ 
      margin: 4rem auto;
    }
    .member-highlight {
        position: initial;
        max-width: 50%;
        margin-left: auto;
        img {
          max-width: 100%;
          // max-height: 100%;
        }
    }
}
@media (max-width: 950px) {
      .heading-container{ 
      margin: 2rem auto;
    }
  .heading-text {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
  }
  .member-highlight {
    max-width: 100%;
  
  }
  .heading-image-text-box {
    position: initial;
  }
}