@use '../globals.scss';

.heading-container {
  @extend .flex;
  justify-content: space-between;
  align-items: center;
  margin: 6.25rem auto;
  padding:0 20px;
  max-width: 1400px;
  width: 100%;

}

.heading-text {
  max-width: 400px;
  margin-right: 40px;
  height: 500px;
}


.heading-image-text-box {
  @extend .flex;
  width: 100%;
  margin-top: 30px;
  justify-content: flex-end;
  align-items: center;
}
.member-highlight {
  position: absolute;
  right: 0;
  width: auto;
  height: 100%;
  max-height: 500px; /* or whatever you need */
  img {
    max-height: 500px;
    width: auto;
    
  }
}

.heading-image-name {
  @extend h4;
  margin-right: 80px;
}
.heading-image-location {
  @extend .subHead;
}
